.createinfo {
    padding: 10% 24%;
    .data_info{
        display: flex;
        border-bottom: 2px solid;
        div{
            width: 30%;
            padding: 20px;
        }
    }
}