.home_main {
    p{
        text-align: center;
        font-size: xxx-large;
        font-weight: 900;
        font-family: sans-serif;
        padding: 100px;
    }
    .button_cmp{
        text-align: center;
    }
   
}